*.beam
.eunit
deps/*
apps/erlguten/ebin
dev/*
rel/erlguten
.DS_Store
_build
rebar.lock
a4_planning_sheet.pdf
comcast_bill.pdf
eg_test1.pdf
eg_test3.pdf
eg_test4.pdf
eg_test5.pdf
eg_test6.pdf
eg_test7.pdf
eg_test8.pdf
eg_test9.pdf
eg_test11.pdf
kd_test1.pdf
process.pdf
doc/eg_*.html
doc/edoc-info
doc/erlang.png
doc/erlguten.html
doc/index.html
doc/modules-frame.html
doc/overview-summary.html
doc/stylesheet.css
